<h2 class="mt-3">Your Created Events</h2>
<div class="container border border-dark rounded-3 p-3">
    <% if current_user.created_events.any? %>
        <% current_user.created_events.each do |event| %>
            <p><%= link_to event.title, event_posts_path(event) %></p>
            <p><%= event.date %></p>
            <p><%= event.location %></p>
        <% end %>
    <% else %>
        <p>You have not created any events</p>
    <% end %>
</div>

<h2 class="mt-3">Your Attended Events</h2>
<div class="container border border-dark rounded-3 p-3">
    <% if current_user.attended_events.any? %>
        <h3>Upcoming Events</h3>
        <% if current_user.attended_events.upcoming.any? %>
            <% current_user.attended_events.upcoming.each do |event| %>
                <p><%= link_to event.title, event_posts_path(event) %></p>
                <p><%= event.date %></p>
                <p><%= event.location %></p>
            <% end %>
        <% else %>
            <p>No upcoming events</p>
        <% end %>

        <h3>Past Events</h3>
        <% if current_user.attended_events.past.any? %>
            <% current_user.attended_events.past.each do |event| %>
                <p><%= link_to event.title, event_posts_path(event) %></p>
                <p><%= event.date %></p>
                <p><%= event.location %></p>
            <% end %>
        <% else %>
            <p>No past events</p>
        <% end %>
    <% else %>
        <p>You have not attended any events</p>
    <% end %>
</div>

<div class="mt-3 mb-3">
    <%= button_to "Back to Events", events_path, method: :get, class: "btn btn-secondary" %>
</div>
