<h1>Edit Event</h1>

<%= form_with model: @event do |form| %>

    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <%= form.object.errors.full_messages.join(". ") %>
        </div>
    <% end %>

    <div class="mb-2">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="mb-2">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div class="mb-2">
        <%= form.label :location %>
        <%= form.text_field :location %>
    </div>

    <div class="mb-2">
        <%= form.label :date %>
        <%= form.datetime_field :date %>
    </div>

    <div class="mb-2">
        <%= form.submit "Edit Event", class: "btn btn-primary" %>
    </div>
<% end %>

<div>
    <%= button_to "Back to Events", event_posts_path(@event), method: :get, class: "btn btn-secondary" %>
</div>
