<div class="container border border-dark rounded-3 p-3">
    <h1><%= @event.title %></h1>
    <p><%= @event.description %></p>
    <p><%= @event.date %></p>
    <p><%= @event.location %></p>
    <p><%= @event.creator.email %></p>

    <h2>List of Attendees</h2>

    <% if current_user %>
        <% if @event.attendees.include?(current_user) %>
            <p>You are attending this event</p>
        <% else %>
            <%= button_to "Attend Event", 
                          event_attendances_path, 
                      params: { event_id: @event.id },
                      method: :post, 
                          class: "btn btn-primary" %>
        <% end %>
        <ul>
            <% @event.attendees.each do |attendee| %>
                <li><%= attendee.email %></li>
            <% end %>
        </ul>
    <% else %>
        <p>Please login to see the list of attendees</p>
    <% end %>
</div>
