<div class="container border border-dark rounded-3 p-3 mt-3">
    <h1><%= @event.title %></h1>
    <p><%= @event.description %></p>
    <p><%= @event.date %></p>
    <p><%= @event.location %></p>
    <p><%= @event.creator.email %></p>

    <% if current_user == @event.creator %>
        <div class="mt-3 mb-3 d-flex gap-2">
            <%= button_to "Edit Event", edit_event_path(@event), method: :get, class: "btn btn-primary" %>
            <%= button_to "Delete Event", event_path(@event), method: :delete, class: "btn btn-danger" %>
        </div>
    <% end %>

    <h2>List of Attendees</h2>

    <% if current_user %>
        <% if @event.attendees.include?(current_user) %>
            <p>You are attending this event</p>
            <%= button_to "Cancel Attendance", 
                          event_attendance_path(current_user.event_attendances.find_by(event_id: @event.id)), 
                          method: :delete,
                          class: "btn btn-danger" %>
        <% else %>
            <%= button_to "Attend Event", 
                          event_attendances_path, 
                          params: { event_id: @event.id },
                          method: :post, 
                          class: "btn btn-primary" %>
        <% end %>
        <ul>
            <% @event.attendees.each do |attendee| %>
                <li class="mt-3"><%= attendee.email %></li>
            <% end %>
        </ul>
    <% else %>
        <p>Please login to attend this event</p>
    <% end %>
</div>

<div class="mt-3">
    <%= button_to "Back to Events", events_path, method: :get, class: "btn btn-secondary" %>
</div>
